.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 12px;
}

.container div,
.container form {
    background-color: antiquewhite;
    padding: 12px;
}
.card input {
    width: 140px;
}

.card {
    display: flex;
    flex-direction: column;
}


.radio-container {
    display: flex;
}

input[type="radio"] {
    width: 30px;
}
div.radio-container {
    padding: 4px 0px;
}
form > label {
    padding: 6px 0px;
}

nav {
    background-color: #333; /* Dark background */
    padding: 1rem; /* Space inside the navbar */
}
nav ul {
    list-style: none; /* Remove bullets */
    display: flex; /* Horizontal layout */
    justify-content: space-around; /* Evenly space items */
}

.navTitle {
    color:aliceblue;
}

dialog::backdrop {
    background-color: #333;
    opacity: 0.5;
}

button {
    padding: 8px;
    margin: 6px;
}